extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let vehicleid = toShow._id
    - let vehicle_Brand = toShow.vehicle_Brand
    - let vehicle_model = toShow.vehicle_model
    - let vehicle_price = toShow.vehicle_price
    - let actionid = "/resource/vehicles/" + vehicleid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='vehicleAttr mr-3') Vehicle ID is:
        div #{vehicleid}
      div.row
        div(class='vehicleAttr mr-3') Vehicle Type is:
        div #{vehicle_Brand}
      div.row
        div(class='vehicleAttr mr-3') Vehicle Size is:
        div #{vehicle_model}
      div.row
        div(class='vehicleAttr mr-3') Vehicle Cost is:
        div #{vehicle_price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
      // Go back to the home page for the vehicle collection
      window.location.href='/vehicles'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE' // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/vehicles'
      // TODO handle body
      }).catch((error) => {
      // TODO handle error
        alert("Delete failed " + error )
      });
    }